{% extends 'base.html' %}
{% block content %}
<h1>{{ object.title }} ({{ object.id }})</h1>
<p> {{ object.content }} </p>
<a href="{% url 'article-create' %}" >Create Article </a>
<a href="{% url 'article-detail' slug='hello-world' %}" >Create Article </a>
<ul>
    {% for x in object_list %}
        {% if x.title %}    
            <li> 
                <a href="{{ x.get_absolute_url }}"> {{ x.title }} - {{ x.content }} </a> 
            </li>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}